* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

body {
  background-color: rgb(252, 206, 119);
}

nav {
  width: 98vw;
  height: 60px;
  margin-top: 5px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background: linear-gradient(90deg, rgb(255, 179, 38) 50%, darkorange 100%);
  border-radius: 30px;
  margin-left: 13px;
}

ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 80px;
}

li {
  transition: all 0.4s;
}
li:hover {
  transform: scale(1.1);
  cursor: pointer;
}

a {
  color: black;
}
a:not(.selected) {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

.title {
  transition: all 0.4s;
}
.title:hover {
  transform: scale(1.1);
}

.title span {
  color: rgb(222, 104, 0);
  font-size: 20px;
}

.search {
  width: 200px;
  height: 30px;
  border-radius: 30px;
  border: 2px solid rgb(164, 107, 0);
  padding-left: 10px;
  transition: all 0.4s;
}
.search:focus {
  outline: none;
  border: 3px solid rgb(164, 107, 0);
}
.search::-webkit-search-cancel-button {
  -webkit-appearance: none;
          appearance: none;
}
.search:hover {
  transform: scale(1.1);
}
.search::-moz-placeholder {
  color: black;
}
.search::placeholder {
  color: black;
}

.theme {
  width: 30px;
  height: 30px;
  font-size: 22px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: none;
  transition: all 0.4s;
}
.theme:hover {
  transform: scale(1.1);
}
.theme:active {
  transition: all 0s;
  color: white;
}

.registerButtons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.sign {
  width: 100px;
  height: 30px;
  border-radius: 20px;
  border: none;
  background-color: black;
  color: orange;
  transition: all 0.4s;
}
.sign:hover {
  transform: scale(1.1);
  cursor: pointer;
}
.sign:active {
  transition: all 0s;
  background-color: white;
  color: black;
}

.login {
  width: 100px;
  height: 30px;
  border-radius: 20px;
  border: none;
  background-color: black;
  color: orange;
  transition: all 0.4s;
}
.login:hover {
  transform: scale(1.1);
  cursor: pointer;
}
.login:active {
  transition: all 0s;
  background-color: white;
  color: black;
}

.lato-thin {
  font-family: "Lato", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.lato-light {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.lato-regular {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.lato-bold {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.lato-black {
  font-family: "Lato", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.lato-thin-italic {
  font-family: "Lato", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.lato-light-italic {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.lato-regular-italic {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.lato-bold-italic {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.lato-black-italic {
  font-family: "Lato", sans-serif;
  font-weight: 900;
  font-style: italic;
}

.intro {
  width: 98%;
  height: 700px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 3px solid rgb(213, 128, 0);
  padding: 0px 30px;
  background-color: rgb(255, 144, 46);
  border-radius: 50px;
  margin-top: 8px;
  margin-left: 15px;
}

.circle_img {
  width: 500px;
  height: 500px;
  padding-right: 230px;
  background-color: orange;
  border-radius: 50%;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.burger_img {
  width: 600px;
}

.intro_left {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  flex-wrap: wrap;
  font-size: 30px;
}

.intro_title {
  font-size: 32px;
}

.intro_description {
  color: rgba(140, 140, 140, 0.592);
}

.FoodList {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}

.FoodCard {
  width: 350px;
  height: 450px;
  background-color: rgb(255, 115, 0);
  border-radius: 20px;
  position: relative;
  margin-top: 10px;
}

.card-head {
  width: 100%;
  height: 30px;
  position: absolute;
  top: 0px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: black;
  color: orange;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border: 2px solid white;
  font-size: 12px;
}

.images {
  width: 100%;
  height: auto;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border: 2px solid white;
  background-color: rgb(255, 191, 0);
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-img {
  width: 346px;
  height: 260px;
  margin-top: 10px;
}

.description-card {
  padding: 5px 10px;
  width: 100%;
  height: 132px;
  color: white;
  border: 2px solid white;
  border-bottom: 2px solid white;
  background-color: rgb(255, 191, 0);
  display: flex;
  justify-content: start;
  align-items: center;
  flex-wrap: wrap;
}

.button-cart {
  position: absolute;
  bottom: 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.addCart {
  width: 296px;
  height: 50px;
  border-bottom-left-radius: 20px;
  border: none;
  background-color: black;
  color: orange;
  border: 1px solid white;
}
.addCart:hover {
  background-color: rgb(30, 30, 30);
}
.addCart:active {
  background-color: white;
  color: black;
}

.Order {
  width: 54px;
  height: 50px;
  border-bottom-right-radius: 20px;
  border: none;
  background-color: black;
  border: 1px solid white;
  color: orange;
}
.Order:hover {
  background-color: rgb(30, 30, 30);
}
.Order:active {
  background-color: white;
  color: black;
}

@media (max-width: 500px) {
  .FoodList {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
}
.forRegister {
  color: orange;
  text-decoration: none;
}
.forRegister:hover {
  text-decoration: none;
}

.register_wrapper {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.containerForRegister {
  width: 500px;
  height: 300px;
  background-color: orange;
  display: flex;
  justify-content: start;
  padding-left: 10px;
  align-items: center;
  border: 2px solid rgb(232, 151, 0);
  border-radius: 40px;
  gap: 60px;
}

.formRegister {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
  gap: 20px;
}

.inp {
  width: 300px;
  height: 40px;
  border: 2px solid rgb(228, 149, 0);
  border-radius: 30px;
  padding-left: 10px;
}
.inp:focus {
  outline: none;
  border: 4px solid rgb(228, 149, 0);
}

.RegisterButtons {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.regbtn {
  width: 100px;
  height: 30px;
  border-radius: 20px;
  border: none;
  background-color: black;
  color: orange;
  transition: all 0.2s;
}
.regbtn:hover {
  transform: scale(1.1);
}

.regbtn a {
  width: 100px;
  height: 30px;
  border-radius: 20px;
  border: none;
  background-color: black;
  color: orange;
  transition: all 0.2s;
}
.regbtn a:hover {
  text-decoration: none;
  transform: scale(1.1);
}

.icon {
  width: 50px;
  position: absolute;
  top: 215px;
  left: 510px;
  transform: rotate(-15deg);
}

.regTitle {
  position: absolute;
  top: 100px;
  font-size: 50px;
  color: rgb(171, 111, 0);
}

body.darktheme {
  background-color: black;
}

body.darktheme nav {
  background: rgb(19, 19, 19);
  color: orange;
}

body.darktheme a {
  color: orange;
}

body.darktheme .theme {
  color: orange;
}

body.darktheme .intro_title {
  color: white;
}

body.darktheme .intro {
  background-color: black;
}

body.darktheme .circle_img {
  background-color: rgb(19, 19, 19);
}

body.darktheme .sign {
  background-color: white;
  color: black;
}

body.darktheme .login {
  background-color: white;
  color: black;
}

body.darktheme .card-head {
  background-color: rgb(19, 19, 19);
  border-color: orange;
}

body.darktheme .images {
  border-color: orange;
}

body.darktheme .description-card {
  background-color: rgb(19, 19, 19);
  border-color: orange;
  color: orange;
}

body.darktheme .addCart {
  border-color: orange;
  background-color: rgb(19, 19, 19);
}
body.darktheme .addCart:hover {
  background-color: black;
}
body.darktheme .addCart:active {
  background-color: white;
  color: black;
}

body.darktheme .Order {
  border-color: orange;
  background-color: rgb(19, 19, 19);
}
body.darktheme .Order:hover {
  background-color: black;
}
body.darktheme .Order:active {
  background-color: white;
  color: black;
}

body.darktheme .search {
  background-color: rgb(19, 19, 19);
  border-color: white;
  color: orange;
}
body.darktheme .search::-moz-placeholder {
  color: orange;
}
body.darktheme .search::placeholder {
  color: orange;
}

body.darktheme .forRegister {
  color: black;
}

body.darktheme .regbtn {
  color: black;
  background-color: white;
}

body.darktheme .regbtn a {
  color: black;
  background-color: white;
}/*# sourceMappingURL=Style.css.map */