* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(252, 206, 119);
}

nav {
    width: 98vw;
    height: 60px;
    margin-top: 5px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background: linear-gradient(90deg, rgb(255, 179, 38) 50%, darkorange 100%);
    border-radius: 30px;
    margin-left: 13px;
}

ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 80px;
}

li {
    transition: all 0.4s;

    &:hover {
        transform: scale(1.1);
    }
}

a {
    
    &:not(.selected) {
        text-decoration: none;
    }

    color: black;

    &:hover {
        text-decoration: underline;
    }
}

