.forRegister {
    color: orange;
    text-decoration: none;

    &:hover {
        text-decoration: none;
    }
}

.register_wrapper {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.containerForRegister {
    width: 500px;
    height: 300px;
    background-color: orange;
    display: flex;
    justify-content: start;
    padding-left: 10px;
    align-items: center;
    border: 2px solid rgb(232, 151, 0);
    border-radius: 40px;
    gap: 60px;
}

.formRegister {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    gap: 20px;
}

.inp {
    width: 300px;
    height: 40px;
    border: 2px solid rgb(228, 149, 0);
    border-radius: 30px;
    padding-left: 10px;

    &:focus {
        outline: none;
        border: 4px solid rgb(228, 149, 0);
    }
}

.RegisterButtons {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.regbtn {
    width: 100px;
    height: 30px;
    border-radius: 20px;
    border: none;
    background-color: black;
    color: orange;
    transition: all 0.2s;

    &:hover {
        transform: scale(1.1);
    }
    
}

.regbtn a{
    width: 100px;
    height: 30px;
    border-radius: 20px;
    border: none;
    background-color: black;
    color: orange;
    transition: all 0.2s;

    &:hover {
        text-decoration: none;
        transform: scale(1.1);
    }
}

.icon {
    width: 50px;
    position: absolute;
    top: 215px;
    left: 510px;
    transform: rotate(-15deg);
}

.regTitle {
    position: absolute;
    top: 100px;
    font-size: 50px;
    color: rgb(171, 111, 0);
}