.FoodList {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}


.FoodCard {
  width: 350px;
  height: 450px;
  background-color: rgb(255, 115, 0);
  border-radius: 20px;
  position: relative;
  margin-top: 10px;
}

.card-head {
  width: 100%;
  height: 30px;
  position: absolute;
  top: 0px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: black;
  color: orange;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border: 2px solid white;
  font-size: 12px;
}

.addCart {
  width: 296px;
  height: 50px;
  border-bottom-left-radius: 20px;
  border: none;
  background-color: black;
  color: orange;
  border: 1px solid white;

  &:hover {
    background-color: rgb(30, 30, 30);
  }

  &:active {
    background-color: white;
  }
}

.button-cart {
  position: absolute;
  bottom: 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Order {
  width: 54px;
  height: 50px;
  border-bottom-right-radius: 20px;
  border: none;
  background-color: black;
  border: 1px solid white;
  color: orange;
}

.images {
  width: 100%;
  height: auto;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border: 2px solid white;
  background-color: rgb(255, 191, 0);
  display: flex;
  justify-content: center;
  align-items: center;
}

.description-card {
  padding: 5px 10px;
  width: 100%;
  height: 132px;
  color: white;
  border: 2px solid white;
  border-bottom: 2px solid white;
  background-color: rgb(255, 191, 0);
  display: flex;
  justify-content: start;
  align-items: center;
  flex-wrap: wrap;
}

.card-img {
  width: 260px;
  height: 260px;
  margin-top: 10px;
}


@media (max-width:500px) {
  .FoodList {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
}